DEBUG=True
SECRET_KEY=CHANGEME

# DB Settings
DB_NAME=CHANGEME
DB_USER=CHANGEME
DB_PASSWORD=CHANGEME
DB_HOST=db
DB_PORT=5432

# DB Settings (Postgres)
POSTGRES_DB=CHANGEME
POSTGRES_USER=CHANGEME
POSTGRES_PASSWORD=CHANGEME
